* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bedfd8;
}

.acordion{
    max-width: 800px;
}

.acordion .container{
    position: relative;
    margin: 10px 20px;
}

.acordion .container .label{
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}

.acordion .container .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.acordion .container.active .label::before{ 
    content: '-';
}

.acordion .container .content{
    position: relative;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.acordion .container.active .content{
    height: 150px;
    padding: 10px;

}